HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### trae ###
.trae/

##mvn
/.mvn/
/.idea/
.DS_Store

# virtual machine crash logs
hs_err_pid*

# others
/LOG_HOME_*
*.log
.lck.worktrees/
.worktrees
/docs/
/docs2/
/docs3/
